<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vangogstagram</title>
    <link rel="stylesheet" href="css/main.css">
		<meta charset="utf-8">
    <style media= "screen">
				body{
					background-image: url(img/fondo.jpg);
				}
    </style>
  </head>
  <body>
    <div class="ven">
      <div class="bot">

        <span id="bus"><input type="submit" src="/instagrid.css/index.html" value="login" style="
    margin-top: 450px;
    margin-left: 800px;"></span>

      </div>

    </div>

  </body>
</html>
