<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ Vangoghstagram }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <style media="screen">
      body {
      background-image: url("img/fondo.jpg");
    }
  </style>
</head>
<body>

    <div>

  <!-- columns should be the immediate child of a .row -->
      <div>

        <div class=>
            <div class="">
              <span id="bus"><input type="submit" value="login"></span>
            </div>
        </div>
      </div>

    </div>


</body>
</html>
